
            <!-- top navigation -->
            <div class="top_navv">

                <div class="nav_meniu" style="height:70px;">
                    <nav class="" role="navigation">
                        <div class="control-label col-md-3 col-sm-3 col-xs-12">
                            <h3><span>Bigbluebutton Manager</span></h3>
                        </div>

                        <ul class="nav navbar-nav navbar-right" style="margin-top:20px;margin-right:20px;">


			    <a href="/" <li><span class="btn btn-primary">Home</span></li></a>

			    <a href="/disclaimer" <li><span class="btn btn-primary">Disclimaers</span></li></a>
			    <a href="/organization/create" <li><span class="btn btn-primary">Admin Signup</span></li></a>
			    <a href="/account/create" <li><span class="btn btn-primary">User Login/Signup</span></li></a>

                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->

